extends layout

block content
	include lib/header
	.pusher.content
		.pusher-black
		.pbanner
			.pageT
			.pagenavBox
				.pageNav
		#aboutPage.aboutPage.w960.paddingB
			p.pagebT
				span.zh 关于蒙荣
				br
				span.en Meng Rong fine material Co., Ltd.
			.pageC
				p(style='text-indent:2em;')
					span(style='font-size:16px;') 包头市蒙荣精细材料有限责任公司是一家集科研、生产、销售和服务为一体的高新技术生产企业。
				p(style='text-indent:2em;')
					span(style='font-size:16px;')
						| 成立于2013年3月，位于包头市土默特右旗新型工业园区山架格化工区，属民营股份制企业。公司占地面积100亩，现在职员工120人，其中科研人员36人，硕士毕业生2名，占总人数的30%；公司在发展过程中不断与国内多个科研院所交流合作，外聘技术支撑教授、工程师11人。
				p(style='text-indent:2em;')
					span(style='font-size:16px;') 目前已形成年产3000吨萃取剂、5000吨盐酸羟胺、和5000吨多元化的选矿药剂生产线。以一流的产品质量和精湛的技术服务受到了广大用户的一致好评。
				p(style='text-indent:2em;')
					br
				div(style='text-align:center;')
					span(style='text-indent:2em;line-height:1.5;font-size:24px;color:#666666;') 企业文化
				p(style='text-align:center;')
					span(style='text-indent:2em;line-height:1.5;font-size:14px;color:#666666;') company culture
				p(style='text-align:center;')
					span(style='text-indent:2em;line-height:1.5;font-size:14px;color:#666666;')
						br
				p(style='text-indent:2em;')
					span(style='font-size:16px;') 依靠科技、精益管理、深挖细雕、彻底钻研，实行高起点的技术引领战略。面向市场、面向未来，把科技创新的重点放在新技术、新装备、新工艺的开发上。依靠科技创新占领市场。
				p(style='text-indent:2em;')
					span(style='font-size:16px;') 蒙荣承诺：以诚信为本，为所有客户提供更优良、更实惠、更持续化的产品和服务。我们坚守客户是“上帝”，是我们的“衣食父母”，挑剔的客户是我们的良师益友。
				p(style='text-indent:2em;')
					span(style='font-size:16px;')
						| 蒙荣奋斗：企业和员工是风雨同舟的事业上的合作伙伴，是高度的利益共同体。企业生存则员工有归宿，企业发展则员工有福祉。使其成为员工满意、股东满意、社会满意的优秀企业。
				p(style='text-indent:2em;')
					br
				div(style='text-align:center;')
					span(style='text-indent:2em;line-height:1.5;font-size:24px;color:#666666;') 发展目标
					span(style='text-indent:2em;line-height:1.5;font-size:16px;')
				p(style='text-align:center;')
					span(style='text-indent:2em;line-height:1.5;font-size:16px;color:#666666;') development Goals
				p(style='text-align:center;')
					span(style='text-indent:2em;line-height:1.5;font-size:16px;color:#666666;')
						br
				div(style='text-align:center;')
				p(style='text-indent:2em;')
					span(style='font-size:16px;')
						| 依靠科学求发展，始终为客户提供满意的产品，是我们始终不变的追求。公司本着勇于拼搏、敢于创新、脚踏实地的原则，秉承“质量好、价格低、服务优”的经营理念，竭诚为广大用户提供性价比最高的产品和优质完善的技术服务。面向未来，把蒙荣精细建设成具有世界领先水平的国内萃取剂、选矿药剂生产的一流企业。
		.aboutPic(style='background-image: url(/public/images/home/about1.jpg);')
		#teamPage.teamPage
			p.pagebT
				span.zh 企业资质
			span.bor
			.w960
				.teamDemo
					a.itemA(data-img='/public/images/home/2016122812145072.jpg', data-title='2')
						.img
							img(src='/public/images/home/2016122812145072.jpg', tppabs='http://host14.lisiqi.com.cn/public/images/home/2016122812145072.jpg')
							span.black
							i.il
							i.ir
						.name 2
					a.itemA(data-img='/public/images/home/20161228121430987.jpg', data-title='1')
						.img
							img(src='/public/images/home/20161228121430987.jpg', tppabs='http://host14.lisiqi.com.cn/public/images/home/20161228121430987.jpg')
							span.black
							i.il
							i.ir
						.name 1
					a.itemA(data-img='/public/images/home/20161227101715143.jpg', data-title='2')
						.img
							img(src='/public/images/home/20161227101715143.jpg', tppabs='http://host14.lisiqi.com.cn/public/images/home/20161227101715143.jpg')
							span.black
							i.il
							i.ir
						.name 2
					a.itemA(data-img='/public/images/home/20161227101703773.jpg', data-title='1')
						.img
							img(src='/public/images/home/20161227101703773.jpg', tppabs='http://host14.lisiqi.com.cn/public/images/home/20161227101703773.jpg')
							span.black
							i.il
							i.ir
						.name 1
			#honorPage.honorPage
				p.pagebT
					span.zh 团队风采
				span.bor
				.w960
					.honorDemo
						a.itemA(data-img='/public/images/home/20161229160604683.jpg', data-title='董事长')
							.img
								img(src='/public/images/home/20161229160604683.jpg', tppabs='http://host14.lisiqi.com.cn/public/images/home/20161229160604683.jpg')
								span.black
								i.il
								i.ir
							.name 董事长
						a.itemA(data-img='/public/images/home/20161229160142589.jpg', data-title='办公室')
							.img
								img(src='/public/images/home/20161229160142589.jpg', tppabs='http://host14.lisiqi.com.cn/public/images/home/20161229160142589.jpg')
								span.black
								i.il
								i.ir
							.name 办公室
						a.itemA(data-img='/public/images/home/20161229160322169.jpg', data-title='实验室')
							.img
								img(src='/public/images/home/20161229160322169.jpg', tppabs='http://host14.lisiqi.com.cn/public/images/home/20161229160322169.jpg')
								span.black
								i.il
								i.ir
							.name 实验室
						a.itemA(data-img='/public/images/home/20161229160624590.jpg', data-title='风采展示')
							.img
								img(src='/public/images/home/20161229160624590.jpg', tppabs='http://host14.lisiqi.com.cn/public/images/home/20161229160624590.jpg')
								span.black
								i.il
								i.ir
							.name 风采展示
block script
	script.
		$(function(){
			$(".act").removeClass("act");
			$(".about").addClass("act");
			$(".arrow").css("left","1260px");
			$(".arrow").css("width","88px");
			
				
			});
