
extends layout

block content
	include lib/header
	.pusher.content
		.pusher-black
		.pbanner
			.pageT
			.pagenavBox
				.pageNav
		.propanel
			#prob.prob
				.proList.caseDemo.clearfix
					a.pdajax.scapic.itemA(data-img='/public/images/cases/2016122913545110.jpg', data-title='包头钢铁集团有限公司')
						.pic
							img(src='/public/images/cases/2016122913545110.jpg')
						.txts
							p.ti
							p.nowti 包头钢铁集团有限公司
					a.pdajax.scapic.itemA(data-img='/upload/201612/20161229135527282.jpg', data-title='江西铜业集团公司')
						.pic
							img(src='/public/images/cases/20161229135527282.jpg')
						.txts
							p.ti
							p.nowti 江西铜业集团公司
					a.pdajax.scapic.itemA(data-img='/upload/201612/20161229135914663.jpg', data-title='中国铝业股份有限公司')
						.pic
							img(src='/public/images/cases/20161229135914663.jpg')
						.txts
							p.ti
							p.nowti 中国铝业股份有限公司
					a.pdajax.scapic.itemA(data-img='/upload/201612/20161229135838792.jpg', data-title='金川集团有限责任公司')
						.pic
							img(src='/public/images/cases/20161229135838792.jpg')
						.txts
							p.ti
							p.nowti 金川集团有限责任公司
					a.pdajax.scapic.itemA(data-img='/upload/201612/20161229135802103.jpg', data-title='甘肃稀土集团有限责任公司')
						.pic
							img(src='/public/images/cases/20161229135802103.jpg')
						.txts
							p.ti
							p.nowti 甘肃稀土集团有限责任公司
					a.pdajax.scapic.itemA(data-img='/upload/201612/20161229135728371.jpg', data-title='乐山盛和稀土股份有限公司')
						.pic
							img(src='/public/images/cases/20161229135728371.jpg')
						.txts
							p.ti
							p.nowti 乐山盛和稀土股份有限公司
block script
	script.
		$(function(){
			$(".act").removeClass("act");
			$(".cases").addClass("act");
			$(".arrow").css("left","1472px");
			$(".arrow").css("width","88px");
			
				
			});