footer
	div.am-g
		div.am-u-sm-12.am-u-lg-6
			img(src='/public/images/logo.big.png')
			p
				label [ 地址 ]
				span ：广西南宁市西乡塘区科园大道科园东5路南宁软件园一楼火星人科技
			p
				label [ 电话 ]
				span ：0771-3216270
				label [ 传真 ]
				span ：0771-3216270
				label [ 电子邮箱 ]
				span ：dc@mars-it.net.
		div.am-u-sm-6.am-u-lg-3.g

		div.am-u-sm-6.am-u-lg-3.g