
.foot
	.inner.clearfix
		.sharpBox
			a(href='javascript:;' , target='_blank') 策划服务：思齐信息科技
			script()
		|  版权所有@2016 南宁火星人信息科技有限公司 
		a(href='javascript:;') 蒙ICP备16006083号
		a(href='javascript:;')
			img(src='/public/images/home/beian.png', style='margin:5px 5px 0 0;')
			| 蒙公安网备5101900200号
		a(href='/') 免责声明
.dock
	ul.dockCon
		li.first
			i.i1
			.con.qqcon
				a.qqBtn(href='tencent://message/?Menu=yes&uin=1028334718')
					span 售前咨询
				a.qqBtn(href='tencent://message/?Menu=yes&uin=1028334718')
					span 售前咨询
				a.qqBtn(href='tencent://message/?Menu=yes&uin=1028334718')
					span 售后咨询
		li
			i.i2
			.con.weixinCon
				p.img
					img(src='/public/images/home/erweima.png', tppabs='http://host14.lisiqi.com.cn/template/home/images/erweima.png')
				p 我们的微信
		li
			i.i3
			.con.telcon
				| 服务热线：
				p.tel
					| 0472-7903677
		li.backTop
			i.i5
	a.switchdock(href='javascript:void(0);')