.top.ptopbox
	a.logo(href='/')
		img.img2#logo(src='/public/images/header/mars-logo.jpg')
	#nav.nav
		ul.clearfix
			li.act
				a(href='/') 首 页
			li.about
				a(href='about') 公司简介
			li.product
				a(href='product') 产品中心
			li.cases
				a(href='cases') 应用领域
			li.news
				a(href='news') 新闻中心
			li.contact
				a(href='contact') 联系我们
		i.arrow

	.languageBox
		a.act(href='javascript:;') 中
		span /
		a(href='en//') EN
	#menu-handler.menu-handler
		span.burger.burger-1.trans
		span.burger.burger-2.trans-fast
		span.burger.burger-3.trans
	// top end
#menuBox.menuBox
	.languageBox2
		| 语言: 
		a.act(href='javascript:;') 中文
		a(href='en//') EN
	// languageBox end
	ul#navMobile.navMobile
		li
			a.nav-link(href='/')
				span.nav-link-text 网站首页
		li
			a.nav-link(href='about')
				span.nav-link-text 公司简介
		li
			a.nav-link(href='product')
				span.nav-link-text 产品中心
			dl.subnav
				dd
				a(href='javascript:;') 萃取剂
				dd
				a(href='javascript:;') 医药中间体
				dd
				a(href='javascript:;') 选矿药剂
		li
			a.nav-link(href='case')
				span.nav-link-text 应用领域
		li
			a.nav-link(href='news')
				span.nav-link-text 新闻中心
		li
			a.nav-link(href='contact')
				span.nav-link-text 联系我们
			dl.subnav
